.CreateGroup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
}

.CreateGroup * {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

.CreateGroup > input {
  width: 100%;
  height: 39.5px;
  line-height: 37px;
  border: 0;
  border-bottom: 2px solid #f5f6f6;
  margin-bottom: 26px;
  font-size: 25px;
  color: #0d0d0d;
  font-family: heeboextrabold;
}

.CreateGroup > input::placeholder {
  color: #0d0d0d;
}

.CreateGroup > .next {
  width: 75px;
  height: 75px;
  background-color: #48a9a6;
  border: none;
  outline: none;
  border-radius: 50%;
}

.CreateGroup > .next:hover {
  background-color: #546464;
}

.CreateGroup > .next img {
  width: 13px;
  vertical-align: middle;
}

.profilePic {
  width: 140px;
  height: 140px;
  background-color: #f8f9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
  margin-bottom: 70px;
}

.profilePic img {
  vertical-align: middle;
  width: 79px;
}

.CreateGroup form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.select {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 0 white;
  border-radius: 2px;
}

.select_expand {
  width: 0;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.select_expand::after {
  content: "\003E";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
  color: #3e3e3e;
  font-size: 24px;
  pointer-events: none;
  z-index: 2;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.select_expand:hover::after {
  opacity: 1;
}

.select_expand:checked::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}

.select_expandLabel {
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 5px;
}

.select_close {
  display: none;
}

.select_closeLabel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.select_items {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid #2fb5d1; */
  border-radius: 2px;
  padding-top: 40px;
}

.select_input {
  display: none;
}

.select_label {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  display: block;
  height: 0;
  font-size: 1.2rem;
  line-height: 40px;
  overflow: hidden;
  color: #0d0d0d;
  background-color: #fff;
  cursor: pointer;
  padding-left: 20px;
}

.select_label_placeholder {
  height: 40px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: #f5f6f6;
  color: #0d0d0d;
}

.select_expand:checked + .select_closeLabel {
  display: block;
}

.select_expand:checked + .select_closeLabel + .select_options .select_label {
  height: 40px;
}

.select_expand:checked
  + .select_closeLabel
  + .select_options
  .select_label:hover {
  background-color: #f7f7f7;
}

.select_expand:checked
  + .select_closeLabel
  + .select_options
  + .select_expandLabel {
  display: none;
}

.select_input:checked + .select_label {
  height: 40px;
  margin-top: -40px;
}

.ParticipantsOverlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 23px;
  background-color: white;
  z-index: 3;
}

.overlayFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlayFooter button {
  background-color: #48a9a6;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.overlayFooter button:hover {
  background-color: #546464;
}

.overlayFooter button img {
  width: 7px;
}

.overlayFooter img.left {
  transform: rotateY(180deg);
}
