.VideoCall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  padding-bottom: 14px;
  background-color: white;
}

.videoWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.videoWrapper > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  width: 100%;
  height: 63px;
  box-shadow: 0 0 3px rgba(227, 227, 227, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(238, 241, 241, 1);
  align-items: center;
  padding-left: 11px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  z-index: 1;
}

.header > svg {
  margin-right: 16px;
}

.header small {
  font-size: 10px;
  font-weight: 700;
}

.VideoCall > img {
  position: absolute;
  width: 79px;
  height: 79px;
  right: 21px;
  bottom: 94px;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.77);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 53px;
  z-index: 1;
}

.controls button {
  width: 42px;
  height: 42px;
  background-color: rgba(238, 241, 241, 1);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 3px;
}

.controls div:last-child > button {
  background-color: rgba(231, 77, 61, 1);
}

.controls div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: rgba(238, 241, 241, 1);
  font-family: "Nunito", sans-serif;
}
