.ChatBubble {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.ChatBubble > p {
  padding: 8px;
  background-color: rgba(72, 169, 166, 0.4);
  border-radius: 5px 0 0 5px;
}

.ChatBubble > img {
  border-radius: 5px;
}

.left {
  justify-content: flex-start;
}

.left > p {
  background-color: rgba(245, 246, 246, 1);
  border-radius: 0 5px 5px 0;
}

.left + .ChatBubble:not(.left) {
  margin-top: 25px;
}

.ChatBubble:not(.left) + .left {
  margin-top: 25px;
}
