.Search {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 63px;
  background-color: white;
  z-index: 1003;
}

.Header {
  display: flex;
  padding: 12px 15px;
  box-shadow: 0 0 3px #e3e3e3;
  align-items: center;
}

.Header > img:first-child {
  margin-right: 17px;
}

.Header > img:last-child {
  margin-left: 12px;
}

.Header > .left {
  display: flex;
  align-items: center;
}

.Header > .left > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.Header > .left > div {
  display: flex;
  flex-direction: column;
}

.Header > .left > div > h4 {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.Header > .left > div > p {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
  line-height: 14px;
  font-weight: 100;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1001;
  box-shadow: inset 0 0 3px #e3e3e3;
  animation: slideup 0.3s ease-out;
}

.Logo {
  width: 72px;
  height: 43px;
}

.closeIcon {
  width: 30px;
  margin-left: auto;
}

.profileCard {
  display: flex;
  padding: 15px;
  align-items: center;
  align-self: flex-start;
  background-color: #f8f9f9;
  width: 100%;
}

.profileCard > img {
  border: 3px solid white;
  box-shadow: 0 3px 6px rgba(4, 4, 4, 0.09);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;
}

.profileCard > div > h3 {
  font-size: 18px;
  color: #0d0d0d;
  line-height: 27px;
  font-family: heebomedium;
}

.stats {
  display: flex;
  justify-content: space-between;
  color: #707070;
  font-size: 9px;
  margin-top: 7px;
}

.stats > div p:last-child {
  font-size: 18px;
  font-family: heebomedium;
  line-height: 27px;
  color: #3a3a3a;
}

.divider {
  width: 2px;
  background: #707070;
  margin-bottom: 5px;
}

.navlist {
  margin-top: 29px;
  padding: 0 17px;
  overflow-y: scroll;
}

.navlist li {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  color: #434343;
  font-size: 16px;
  line-height: 24px;
  font-family: heebolight;
}

.navlist li img {
  margin-right: 16px;
}

@keyframes slideup {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(calc(0vh));
  }
}

.Content {
  overflow-y: scroll;
  height: 100%;
}

.Content > p {
  text-align: center;
  font-size: 14px;
  color: rgba(136, 136, 136, 1);
  line-height: 21px;
}
