.Drawer svg {
  fill: #434343;
  width: 40px;
  align-items: center;
}

.Drawer span {
  font-size: 9px;
  color: #434343;
  font-family: heeboregular;
}

.Drawer > a {
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.Drawer small {
  font-size: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #c2665d;
  border-radius: 50%;
  line-height: 15px;
  width: 15px;
  color: white;
  text-align: center;
}

.Drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 14px 0;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  z-index: 100;
}

.Drawer :global(.active) span {
  color: #000;
  font-family: heebobold;
}

.Drawer :global(.active) svg {
  fill: #000;
}
