.SearchBar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.SearchBar input {
  width: 100%;
  background-color: #f5f6f6;
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 40px;
  outline: none;
}

.SearchBar > img {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 15px;
  vertical-align: middle;
}
