.ConnectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  padding: 10px 25px;
  box-shadow: 0 0 3px #e3e3e3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
}

.ConnectHeader > * {
  flex: 0 0 auto;
}

.Logo {
  width: 72px;
  height: 43px;
}

.menuIcon {
  width: 26px;
  height: 18px;
}

.closeIcon {
  width: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1001;
  box-shadow: inset 0 0 3px #e3e3e3;
  animation: slideup 0.3s ease-out forwards;
}

.profileCard {
  display: flex;
  padding: 15px;
  align-items: center;
  align-self: flex-start;
  background-color: #f8f9f9;
  width: 100%;
}

.profileCard > img {
  border: 3px solid white;
  box-shadow: 0 3px 6px rgba(4, 4, 4, 0.09);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;
}

.profileCard > div > h3 {
  font-size: 18px;
  color: #0d0d0d;
  line-height: 27px;
  font-family: heebomedium;
}

.stats {
  display: flex;
  justify-content: space-between;
  color: #707070;
  font-size: 9px;
  margin-top: 7px;
}

.stats > div p:last-child {
  font-size: 18px;
  font-family: heebomedium;
  line-height: 27px;
  color: #3a3a3a;
}

.divider {
  width: 2px;
  background: #707070;
  margin-bottom: 5px;
}

.navlist {
  margin-top: 29px;
  padding: 0 17px;
  overflow-y: scroll;
}

.navlist li {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  color: #434343;
  font-size: 16px;
  line-height: 24px;
  font-family: heebolight;
}

.navlist li img {
  margin-right: 16px;
}

@keyframes slideup {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(calc(0vh));
  }
}
